<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="main-header"><a href="/"><%=title%></a></h1>
    <button class="add-message"><a href="/new">Add New Message</a></button>
    <p>Welcome to <%=title%>, here is the latest messages:</p>
      <section class="messages-list">
        <% for(let i=0; i< messages.length; i++) {%>
          <section class="message-container">
            <div class="user-heading">
              <p class="user-name"><strong><%= messages[i].user %></strong></p>
              <p class="message-date"><%= messages[i].added.toLocaleString() %></p>
            </div>
            <p> <%= messages[i].text %> </p>
          </section>
        <% } %>
      </section>
  </body>
</html>